body {
  padding-top: 54px;
}

.row, .headings {
	margin-top: 10px;
}

.main-page {
	height: 100vh;
  	min-height: 500px;
	background: url("../background.jpg");
	background-color: rgb(236,233,228);
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}

.jmboCustom {
	background-color: rgba(236,233,228,0.3);
}

.home-button  {
	margin-bottom: 10px;
}

.signInForm {
	border: 1px solid black;
	padding: 10px;

}

.row, .headings {
	margin-top: 10px;
}

.collectionHeading {
	display: inline-block;
	float:left;
}
/* Wiki Table */
#collectionTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#collectionTable td, 
#collectionTable th,  {
  /*border: 1px solid #ddd;*/
  padding: 8px;
}


#collectionTable tr:nth-child(even){background-color: #f2f2f2;}
#collectionTable tr:hover {background-color: #ddd;}

