body {
  padding-top: 54px;
}

.main-page {
	height: 100vh;
  	min-height: 500px;
	background: url("../background.jpg");
	/*background: url("https://www.dropbox.com/s/rgsvmd1scxfxutf/background.jpg?dl=0");*/
	background-color: rgb(236,233,228);
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}

.jmboCustom {
	background-color: rgba(236,233,228,0.3);
}

button.btn {
	margin-bottom: 10px;
}

.signInForm {
	border: 1px solid black;
	padding: 10px;

}