@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);
body {
  padding-top: 54px;
}

[type='radio'] {
display: none; 
}

.row, .headings {
	margin-top: 10px;
}

.main-page {
	height: 100vh;
  	min-height: 500px;
	background: url("../background.jpg");
	background-color: rgb(236,233,228);
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}

.jmboCustom {
	background-color: rgba(236,233,228,0.3);
}

.home-button  {
	margin-bottom: 10px;
}

.signInForm {
	border: 1px solid black;
	padding: 10px;

}

.row, .headings {
	margin-top: 10px;
}

.collectionHeading {
	display: inline-block;
	float:left;
}

.uppercase {
	text-transform: uppercase;
}

/* Collection Table */
#collectionTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#collectionTable td, 
#collectionTable th,  {
  padding: 8px;
}

#collectionTable tr:nth-child(even){background-color: #f2f2f2;}
#collectionTable tr:hover {background-color: #ddd;}

/* Item Table */
#itemTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#itemTable td, 
#itemTable th,  {
  padding: 8px;
}

#itemTable tr:nth-child(even){background-color: #f2f2f2;}
#itemTable tr:hover {background-color: #ddd;}

/* button - wishlist and collection */
.button-unselected{
  color: #fff;
  background-color: #0079c4;
}

input[type=radio].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*   heart   */
 input[type=radio]#wishlist.with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f004";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: white;
    width: 1.4em;
}

 input[type=radio]#wishlist.with-font:checked ~ label:before  {
    content: "\f004";
    font-size: 1.2em;
    color: blue;
    letter-spacing: 5px;
}

 input[type=radio]#wishlist.with-font:focus ~ label:before,
 input[type=radio]#wishlist.with-font:focus ~ label {                
    color: blue;
}

/* trophy */
input[type=radio]#collection.with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f091";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: white;
    width: 1.4em;
}

input[type=radio]#collection.with-font:checked ~ label:before  {
    content: "\f091";
    font-size: 1.2em;
    color: blue;
    letter-spacing: 5px;
}

input[type=radio]#collection.with-font:focus ~ label:before,
input[type=radio]#collection.with-font:focus ~ label {                
    color: blue;
}