<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body class="main-page">
  
      <!-- Page Content -->
      <main class="container">
        <% include ../static/partials/messages.ejs %>

        <!-- Page Features -->
      <div class="jumbotron jmboCustom">

 
      <section class="row text-center">

          <section class="col-lg-8">
            <!-- <h1 class="display-6">Collector's Almanac</h1> -->
            <img src="../logo.png" width="450px" height="270px">
            <!-- <img src="https://www.dropbox.com/s/2bxlzs3fs4f9q7r/logo.png?dl=0" width="450px" height="270px"> -->
            <p>A collector’s one stop shop  for keeping track of their collections</p>
            <p>Upgrade your account to create private collections</p>
          </section>

          <section class="col-lg-4">
            <form class="signInForm">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
              
              <div class="form-group">
                <!-- <small>Forgot login?</small> -->
                <hr>
                <a href="/users/sign_up" class="btn btn-success">Create a new account</a>
              </div>
              
            </form>
          </section>

        </section>
        <!-- /.row -->
      </div>
      </main>
      <!-- /.container -->

       <% include ./partials/baseScripts.ejs %>
    </body>
</html>