<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body class="main-page">
  
      <!-- Navigation -->
     <% include ../static/partials/navbar.ejs %>
      <!-- Page Content -->
      <main class="container">
        <% include ../static/partials/messages.ejs %>
        <div class="row justify-content-md-center"></div>
        
        <div class="row justify-content-md-center align-middle" >
           <div class="col-md-11">
             <h4 style="display: inline-block; margin-right:10px">My Collections</h4>
             <% const lenCollections = collections.filter(collection => collection.userId === currentUser.id ) %>
             <% if (currentUser.role == "standard" && lenCollections.length >= 1) { %>
              <a href="/collections/new" class="btn btn-success btn-sm disabled">New Collection</a><br>
              <small>Upgrade to premium account to create more collections</small>
             <% } else { %>
             <a href="/collections/new" class="btn btn-success btn-sm">New Collection</a>
            <% } %>
           </div>
       </div>

        <div class="row justify-content-md-center">
           <div class="col-md-11">
            <table id="collectionTable">
              <thead>
                <tr>
                  <col>
                  <col style="width:10%">
                  <col style="width:10%">
                </tr>
              <thead>
              <tbody>
                <% const allCollections = collections.filter(collection => collection.userId === currentUser.id || currentUser.role == "admin") %>
                <% allCollections.forEach((collection) => {  %>
                <tr>
                  <td><a href="/collections/<%= collection.id %>"><%= collection.title %></a></td>
                  <td><a href="/collections/<%= collection.id %>/edit" class="btn btn-warning btn-sm">Edit Collection</a></td>
                  <td>
                    <form style="display:initial" action="/collections/<%= collection.id %>/destroy" method="post">
                      <button type="submit" class="btn btn-danger btn-sm">Delete Collection</button>
                    </form>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
           </div>
         </div>
     </main>
      <!-- /.container -->

       <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>